<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form action="/login" method="POST">
        <h1>Innkeeper</h1>
        <div>
            <span id="success-message"><%= locals.message %></span>
            <span class="error-message" id="error"><%= locals.Error %></span><br> 
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>       
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <a href="/register">Register</a>
</body>
</html>