html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #36393f;
    color: #dcddde;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.sidebar {
    width: 15%;
    background-color: #2f3136;
    display: flex;
    flex-direction: column;
    position: relative; /* Ensure the sidebar is the reference point for absolute positioning */
}

.sidebar h4 {
    position: absolute;
    font-family: monospace;
    font-size: 16px;
    bottom: 45px;
}

.server-list {
    background-color: #202225;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.server {
    width: 50px;
    height: 50px;
    background-color: #5865f2;
    border-radius: 50%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
}

.user-actions {
    padding: 10px;
}

.chat-list {
    padding: 10px;
    flex-grow: 1; /* Allow the chat list to grow and fill the remaining space */
}

.chat-list h2 {
    color: #b9bbbe;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.chat-list ul {
    list-style: none;
    padding: 0;
}

.chat-list ul li {
    padding: 5px 0;
    cursor: pointer;
}

.chat-list ul li:hover {
    background-color: #3a3c43;
}

.content {
    width: 85%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #2f3136;
    padding: 10px;
    border-bottom: 1px solid #202225;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-family: monospace;
    font-size: 1.5em;
    color: #fff;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-buttons button {
    background-color: #5865f2;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.header-buttons button:hover {
    background-color: #4752c4;
}

.messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
}

footer {
    background-color: #40444b;
    padding: 6px;
    border-top: 1px solid #202225;
}

footer input {
    width: 99%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #2f3136;
    color: #dcddde;
}

.friends-button {
    background-color: #5865f2;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    right: 10px;
    width: 30%
}

.notification-circle {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    visibility: hidden; /* Initially hidden */
}

.add-user-button {
    background-color: #5865f2;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px); /* Full width minus padding */
}

.add-user-button:hover {
    background-color: #4752c4;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#add-button {
    background-color: #5865f2;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content li {
    font-size: 24px;
    padding: 3px;
}

.friend-request-button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accept-button {
    background-color: #4CAF50; /* Green */
    color: white;
}

.reject-button {
    background-color: #f44336; /* Red */
    color: white;
}

.friend-request-button:hover {
    opacity: 0.8;
}

#usernameInput {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #2f3136;
    color: #dcddde;
}

.modal-content {
    background-color: #36393f;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    color: #dcddde;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}